<header class="header">
   <span><p1> Weather App</p1> </span> 
    <div id="date"></div>
    <div id="navigation">
        <ul>
            
            <li id="index">
                <a href="index.html">Home</a>
            </li>
            <li id="list">
                <a href="listCity.html">List</a>
            </li>
            <li id="forecast">
                <a href="forecast.html">Forecast</a>
            </li>
            <li id="about">
                <a href="about.html">About</a>
            </li>
           
        </ul>
    </div>

</header>