<header class="header">
   <span><p1> Weather App</p1> </span> 
    <div id="date"></div>
    <div id="list">
        <ul>
            
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a href="listCity.html">List</a>
            </li>
            <li>
                <a href="about.html">About</a>
            </li>
        </ul>
    </div>

</header>