<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
</head>
<body>

    <%-include header -%>


    <main class="location">
        <img  id="image-placeholder" src="https://www.vhv.rs/file/max/26/266366_city-skyline-png.png" alt="city">

        <div class="conteiner__weather">
            <div id="name__city"></div>
                <div id="weather__information"></div>

                
            

            

        </div>

    </main>
    
    
    
    
</body>
</html>