<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List</title>
    
</head>
<body>
    <%- include header -%>
    
    <h1 class="list__title" >Weather for Cities</h1>
  <div class="conteiner__list">
    
    <div class="cities-list"></div>
   
</div>
<%- include footer -%>
</body>
</html>