@import '_mixins';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;}

    body{
        background-color: #61968b;

    h1{
        color: #6abfa4;
    text-shadow: 3px -1px black;
    text-align: center;
    }}

    .forecast-mainbox{
     display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #459a9173;
    width: 100%;
    }
    .forecastBox{
        border: 2px solid;
        border-radius: 8px;
        margin-bottom: 20px;
        height: 130px;
        width: 60%;
        text-align: center;
        color: white;
        background-color: #418c83;
        text-shadow: 2px 0px 2px black;
    span{
    display: flex;
    flex-direction: column;
    font-size: 16px;
    }
        
    }

    @include isDesktop{
        h1{
            font-size: 50px;
            margin-top: 60px;
        }
        .forecast-mainbox{
            display: flex;
           flex-flow: row;
           height: 390px;
        }
        .forecastBox{
            height: 250px;
            margin: 20px;
        
        span{
            font-size: 30px;
        }}
    }


