@import '_mixins';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


div.conteiner__list{
    color: #b1aeed;
    }

      .list__title{ 
        text-align: center;
        text-shadow: -3px -2px 2px black;
        color: #a4b8e6;
        
        }

.info{
    border: 2px solid;
    border-radius: 7px;
    width: 100%;
    height: 80px;
    margin-top: 5px;
    font-size: 18px;
    background-color: white;
    background-color: #ece3e3;
    color: #4a3333;
    display: flex;
    position: relative;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
 
    font-weight: bolder;

    h1{
    background-color: #b9aeed69;
    text-align: center;
    text-shadow: 3px -2px 0px black;
    }
    .temp{
        display: flex;
        padding-right: 40px;
    }
    .description{
    padding-left: 30px;
    display: flex;
    flex-flow: column-reverse;
    font-size: 30p;
    color: #1b4e67;}
 }
 @include isDesktop{
    .info {
    height: 110px;
    margin-top: 8px;
    font-size: 35px;
    display: flex;
    flex-flow: nowrap;
    position: relative;

    h1{
        font-size: 50px;
    }
 }}}